@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #f1f1f1;
    color: #0f141e;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color:gray;
}

.container {
    margin: 40px auto;
    max-width: 750px;
    padding-top: 10px;
}

.info {
    display: flex;
    margin-bottom: 20px;
}

.avatar {
    max-width: 240px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0,  .25);
}

.info-text {
    margin-left: 50px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info-text p{
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 0;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    background: #fff;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    transition-duration: .4s;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-red {
    background: #ffe5e5;
}

.bg-green {
    background: #e5ff97;
}

.btn {
    background-color: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
    transition: all .7s;
}

.btn:hover {
    opacity: .8;
}

.btn:active {
    box-shadow: inset 4px 4px 3px rgba(255,255,255,0.5);
}

.list {
    padding: 0 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.table {
    width: 100%;
}

.table td, .table th {
    padding-bottom: 10px;
}

.table th {
    text-align: left;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}

.form h2{
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label{
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    margin-bottom: 20px;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }

    .info-text {
        margin-left: 0;
    }

    .card {
        padding: 5px 10px;
    }

    .form-row .form-group {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .form-row {
        margin-bottom: 3px;
        display: block;
    }
    .btn {
        width: 100%;
    }
}